#map-canvas {
    position: absolute ;
    z-index: 0 ;
    width: 100% ;
    height: 100% ;
    min-height: 838px ;
}
.page-wrap {
    position: absolute ;
    width: 100% ;
    z-index: 1 ;
}
.gm-style-cc:last-child {
    display: none !important;
}
a[title="Report errors in the road map or imagery to Google"] {
    display: none !important;
}
#map-left-pane {
    position: absolute ;
    z-index: 1 ;
    border-right: 1px solid #a7a9ab ;
    width: 34.31% ;
    max-width: 468px ;
    min-height: 838px ;
    height: 100% ;
    background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.3), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(255,255,255,0.3), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0.3), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,1)); /* Standard syntax (must be last) */
}
#left-pane-wrapper {
    padding: 115px 15px 0 15px ;
}
#avatar-big-wrapper {
    position: relative ;
    margin: auto ;
    width: 100% ;
    height: auto ;
    max-height: 286px ;
    max-width: 286px ;
}
#left-pane-info {
    padding-left: 78px ;
    padding-right: 50px ;
}
#left-pane-info > h2 {
    margin-top: 50px ;
    font-family: 'sofia_probold' ;
    font-weight: normal ;
    margin-bottom: 0 ;
}
#left-pane-info > h3 {
    margin-top: 8px ;
    margin-left: 2px ;
    font-size: 16px ;
    font-family: 'sofia_pro_regularregular' ;
    font-weight: normal ;
}
#left-pane-info > p {
    font-family: 'sofia_probold' ;
    font-weight: normal ;
    font-size: 16px ;
    margin-bottom: 40px ;
}
#left-pane-info > p > a {
    font-size: 14px ;
}
#left-pane-info > a.btn {
    float: left ;
    font-size: 12px ;
    letter-spacing: 3px ;
    font-family: 'sofia_probold' ;
    padding: 16px 38px ;
}
#left-pane-info > a#view-gallery-a {
    float: right ;
    font-family: 'sofia_probold' ;
    line-height: 51px ;
}
#avatar-big {
    border-radius: 50% ;
    display: inline-block ;
    width: 100% ;
    height: 100% ;
    overflow: hidden ;
    vertical-align: middle ;
}
.knob {
    display: none ;
}
#funded-label {
    position: absolute ;
    z-index: 3 ;
    padding: 17px 25px ;
    background-color: #fff ;
    border: 1px solid #c0c1c4 ;
    border-radius: 3px ;
    bottom: -30px ;
    left: 1px ;
}
#funded-label > span {
    color: #33b9ab ;
    font-weight: 700 ;
    font-size: 15px ;
}

#map-bottom-pane {
    position: absolute ;
    bottom: 0 ;
    width: 100% ;
    height: 67px ;
    border-top: 1px solid #a7a9ab ;
    display: flex ;
}
a.map-control {
    height: 100% ;
    border-right: 1px solid #a7a9ab ;
    font-size: 35px ;
    line-height: 67px ;
    padding: 0 25px ;
}
a.map-control > i {
    font-weight: 400 ;
}
#bottom-pane-info {
    width: 100% ;
}

#bottom-pane-info > p {
    
}
p#bottom-pane-info-p {
    float: left ;
    line-height: 67px ;
    padding-left: 20px ;
}
a#bottom-pane-info-a {
    float: right ;
    line-height: 67px ;
    padding-right: 35px ;
    font-family: 'sofia_probold' ;
}
#map-logo-wrapper {
    position: absolute ;
    z-index: 222 ;
    left: 0 ;
    top: 25px ;
    width: 100% ;
    height: 33px ;
    background: none ;
    pointer-events: none ;
    
}
a#map-logo {
    display: block ;
    position: static ;
    width: 171px ;
    height: 33px ;
    margin-left: auto ;
    margin-right: auto ;
    pointer-events: auto ;
}
#nav-map {
    position: absolute ;
    z-index: 223 ;
    right: 0 ;
    top: 0 ;    
}